Package: com.telegram.sideloadfix
Name: Telegram Sideload Fix
Version: 1.0
Architecture: iphoneos-arm
Description: Fix Telegram / Swiftgram sideload crashes in LiveContainer
Maintainer: sideload
Author: sideload
Section: Tweaks
Depends: firmware (>= 15.0)
